.welcomeText{
    position: relative;
    text-align: left !important;
    top: 90px;
    padding-left: 120px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-transform: capitalize;

    color: #000000;
}
.cardImageContainer{
    height: 30vh;
    padding-top: 13vh;
}
.cardImage{
    position: relative;
    display: block;
    margin:auto;
    width: 750px;
}

.buttonsContainer{
    display: flex;
    height: 15vh;
    flex-direction: column;
}

.ActionButton{
    width: 750px;
    height: 152px;
    background: #FFF;
    margin:auto;
    display:table;
}

.buttonText{
    font-family: Nunito;
    font-weight: bolder;
    font-size: 48px;
    text-transform: capitalize;
    width: 100%;

    display: table-cell;
    vertical-align: middle;
    color: #4F4B4B;
}

.icon{
    padding-left: 30px;
    color:red;
}

.cardsContainer{
    width: 750px;
    height: 454px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.miniCard {
    flex-grow:0;
    flex-shrink:0;
    flex-basis:calc(50% - 20px); /* separate properties for IE11 upport */
    background: red;
    margin: 10px;
    border-radius: 20px;
    color: #FFF;
    text-align: left;
}

.miniCardContent{
    padding-top:10px;
    padding-left: 25px;
}

.tarifeName{
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 30px;
    margin: 0;
}

.expirationDateText{
    font-weight: 800;
}

.products{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 13vh;
}

.product{
    width: 45%;
    height: 210px;
    background-color: white;
    margin-bottom: 50px;
}

.contractName{
    font-size: 30px;
    text-transform: capitalize;
    padding-top: 10px;
}

.validatyInterval, valueText{
    font-size: 22px;
}

.valueText{
    font-weight: 900;
}


