.cartContainer{
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 30px;
    padding-top: 70px;
}
.cartHeader{
    font-size: 45px;
}

.totalPrice{
    font-size: 36px;
}

.price{
    font-size: 36px;
    font-weight: 900;
}

.CartPresentation{
    font-size: 36px;
}

.CardBody{
    margin-top: 100px;
}

.NomePasse{
    font-size: 32px;
}
.DetalhePasse{
    margin-top: -10px;
    font-size: 22px;
}

.Item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 175px;
    margin-bottom: 40px;
    background-color: #F7F7F8;
    padding: 20px 50px 20px 50px;
}

.ItemInfo{
    width: 80%;
    float:left;
    /*margin-bottom: 30px;*/
}
.ItemDelete{
    /*width: 20%;*/
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    line-height: 140px;
    color:red;
}

.emptyCart{
    font-size: 22px;
    font-weight: 700;
}

.imgEmptyCart{
    width: 300px;
    color: red;
    margin-left: auto;
    margin-right: auto;
    display: block;
  
}

.emptyCartText{
    width: 100%;
    text-align: center;
    display: block;
    font-size: 36px;
    font-weight: 700;
    padding-top: 50px;
}

.checkout{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 25px;
    padding-top: 90px;
    width: 100%;
}

.checkoutButton{
    width: 100%;
    height: 75px;
    font-size: 25px !important;
    background-color: red !important;
    color: white !important;
    letter-spacing: 2px !important;
    text-decoration: none;
}

.exitButton{
    width: 100%;
    height: 75px;
    font-size: 25px !important;
    background-color: #C4C4C4 !important;
    color: black !important;
    letter-spacing: 2px !important;
    text-decoration: none;
}

.cartIcon{
    margin-left: 70px;
}

.numberItemsinCart{
    position: absolute;
    right: 8.8%;
    top: 2.3%;

    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 55px;
    text-align: center;
    text-transform: capitalize;

    color: #FFF;

}
